body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: #353535;
    font-family: 'Comic Neue', cursive;
}

.inline {
    display: inline-block;
    align-items: center;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #000;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.gradientbgg {
    background-image: linear-gradient(#fddd73, #ffb158);
    width: 27%;
    height: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    transition: all 0.9s 0.1s;
}

.gradientbgp {
    background-image: linear-gradient(#b181ff, #9645ff);
    width: 27%;
    height: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    transition: all 0.9s 0.1s;
}

.gradientbgg:hover, .gradientbgp:hover{
    width: 29%;
    height: 305px;
}

.cardq {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    overflow: hidden;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    transition:
        all 1s;

    .moveleft {
        display: flex;
        align-items: center;
        width: 75%;
        margin-left: 25px;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .moveright {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 66%;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .movedown {
        width: 100%;
        height: 300px;
        position: relative;
        flex-direction: column;
        transform: translateY(-400px);
        transition:
            transform 0.5s 0.25s;
    }

    &:hover {
        background-color: #6644fa;
        box-shadow: -5px 5px 25px #000;

        .moveleft {
            transform: translateX(-300px);
        }

        .moveright {
            transform: translateX(300px);
        }

        .movedown {

            transform: translateY(0px);
        }
    }
}

.cardi {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    overflow: hidden;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    transition:
        all 1s;

    .moveleft {
        display: flex;
        align-items: center;
        width: 75%;
        margin-left: 25px;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .moveright {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 66%;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .movedown {
        width: 100%;
        height: 300px;
        position: relative;
        flex-direction: column;
        transform: translateY(-400px);
        transition:
            transform 0.5s 0.25s;
    }

    &:hover {
        background-color: #7acdfd;
        box-shadow: -5px 5px 25px #000;

        .moveleft {
            transform: translateX(-300px);
        }

        .moveright {
            transform: translateX(300px);
        }

        .movedown {

            transform: translateY(0px);
        }
    }
}

.cardw {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    overflow: hidden;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    transition:
        all 1s;

    .moveleft {
        display: flex;
        align-items: center;
        width: 75%;
        margin-left: 25px;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .moveright {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 66%;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .movedown {
        width: 100%;
        height: 300px;
        position: relative;
        flex-direction: column;
        transform: translateY(-400px);
        transition:
            transform 0.5s 0.25s;
    }

    &:hover {
        background-color: #43994e;
        box-shadow: -5px 5px 25px #000;

        .moveleft {
            transform: translateX(-300px);
        }

        .moveright {
            transform: translateX(300px);
        }

        .movedown {

            transform: translateY(0px);
        }
    }
}

.cardim {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    overflow: hidden;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    transition:
        all 1s;

    .moveleft {
        display: flex;
        align-items: center;
        width: 75%;
        margin-left: 25px;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .moveright {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 66%;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .movedown {
        width: 100%;
        height: 300px;
        position: relative;
        flex-direction: column;
        transform: translateY(-400px);
        transition:
            transform 0.5s 0.25s;
    }

    &:hover {
        background-color: #f3da4f;
        box-shadow: -5px 5px 25px #000;

        .moveleft {
            transform: translateX(-300px);
        }

        .moveright {
            transform: translateX(300px);
        }

        .movedown {

            transform: translateY(0px);
        }
    }
}

.cardf {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    overflow: hidden;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    transition:
        all 1s;

    .moveleft {
        display: flex;
        align-items: center;
        width: 75%;
        margin-left: 25px;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .moveright {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 66%;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .movedown {
        width: 100%;
        height: 300px;
        position: relative;
        flex-direction: column;
        transform: translateY(-400px);
        transition:
            transform 0.5s 0.25s;
    }

    &:hover {
        background-color: #ff6464;
        box-shadow: -5px 5px 25px #000;

        .moveleft {
            transform: translateX(-300px);
        }

        .moveright {
            transform: translateX(300px);
        }

        .movedown {

            transform: translateY(0px);
        }
    }
}

.cardl {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    overflow: hidden;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    transition:
        all 1s;

    .moveleft {
        display: flex;
        align-items: center;
        width: 75%;
        margin-left: 25px;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .moveright {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 66%;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .movedown {
        width: 100%;
        height: 300px;
        position: relative;
        flex-direction: column;
        transform: translateY(-400px);
        transition:
            transform 0.5s 0.25s;
    }

    &:hover {
        background-color: #cb4aeb;
        box-shadow: -5px 5px 25px #000;

        .moveleft {
            transform: translateX(-300px);
        }

        .moveright {
            transform: translateX(300px);
        }

        .movedown {

            transform: translateY(0px);
        }
    }
}

.cardp {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
    border-radius: 20px;
    transition: all 0.3s;
    text-decoration: none;
    text-decoration-color: none;
    overflow: hidden;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    flex-wrap: wrap;
    transition:
        all 1s;

    .moveleft {
        display: flex;
        align-items: center;
        width: 75%;
        margin-left: 25px;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .moveright {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 66%;
        transform: translateX(0px);
        transition:
            transform 0.5s 0.25s;
    }

    .movedown {
        width: 100%;
        height: 300px;
        position: relative;
        flex-direction: column;
        transform: translateY(-400px);
        transition:
            transform 0.5s 0.25s;
    }

    &:hover {
        background-color: #c9c9c9;
        box-shadow: -5px 5px 25px #000;

        .moveleft {
            transform: translateX(-300px);
        }

        .moveright {
            transform: translateX(300px);
        }

        .movedown {

            transform: translateY(0px);
        }
    }
}

.overlap {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.txt {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.txt2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tablink {
    background-color: rgba(255,255,255,0);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    width: auto;
}

.tablink:hover{
    background-color: #bdbdbd;
}
   

.tabcontent {
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.abilities {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.corner {
    position: absolute;
}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 25px;
}

.bro {
    display: flex;
    flex-direction: column;
}

.half {
    width: 49%;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

p {
    white-space: normal;
}

#shoutout{
    border-radius: 10px;
    margin-top: 100px;
    width:25%;
}

.rounded{
    border-radius: 15px;
}

#white{
    color: #d4d4d4;
}

#font6 {
    font-size: 6px;
}

#font7 {
    font-size: 7px;
}

#font8 {
    font-size: 8px;
}

#font9 {
    font-size: 9px;
}

#font10 {
    font-size: 10px;
}

#font11 {
    font-size: 11px;
}

#font12 {
    font-size: 12px;
}

#font13 {
    font-size: 13px;
}

#font14 {
    font-size: 14px;
}

#font15 {
    font-size: 15px;
}
